<!DOCTYPE html>
<html>
  <head>
    <title>Mister Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="main-container">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to cocktails_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png", alt: "Mister Cocktail", width: 200 %>
        <% end %>
      </div>
        <div class="light-background">
          <div class="content-container neon-border">
          <%= link_to "New Cocktail", new_cocktail_path, class: "glass-button", id: "new-btn" %>
            <%= yield %>
          </div>
        <div>
      </div>
      </div>
    </div>
  </body>
</html>
